.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 48vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

h3 { /* placeholder for style */
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(circle, rgba(26,11,46,1) 0%, rgba(152,94,236,1) 60%);
    border-radius: 30px;
    border: 0;
    color: white;
    height: 48;
    padding: 0 30px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.card__swipe {
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 56vh;
    padding-top: 3vh;
    color: red;
}

@media screen and (max-width: 700px) and (max-height: 680px) {
    .card__swipe {
        display: none
    }
}

/* stacks cards on top of each other */
.swipe {
    position: absolute;
}