.card {
    position: relative;
    width: 600px;
    padding: 22px;
    max-width: 85vw;
    height: 56vh;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h3 { /* placeholder for style */
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    /* box-shadow: radial-gradient(circle, rgba(26,11,46,1) 0%, rgba(152,94,236,1) 60%); */
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
}

/* stacks cards on top of each other */
.swipe {
    position: absolute;
}