
.chatScreen__message {
  display: flex;
  padding: 20px;
  align-items: center;
}

.chatScreen__timestamp {
  text-align: center;
  padding: 20px;
  padding-top: 5vh;
  color: white;
}

.chatScreen__form {
  display:flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatScreen__input {
  flex: 1;
  padding: 10px;
}

.chatScreen__send {
  margin-right: 5px;
  border: none;
  background-color: white;
  font-weight: bolder;
  color: red;
}

.chatScreen__send:hover {
  color: #11071F;
}

.chatScreen__report {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}