.header {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #5EECDB;
    align-items: center;
    background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );   
    border-radius: 0px 0px 50px 50px;
    height: 115px;
    padding-bottom: 1vh;
}

.header__logo {
    height: 140px;
    object-fit: contain;
}

.header__icon {
    padding:20px;
}