.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F3F3;
    height: 115px;
    padding-bottom: 1vh;
}

.header__logo {
    height: 140px;
    object-fit: contain;
}

.header__icon {
    padding:20px;
}