.report_button {
    border-radius: 30px;
    border-width: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    padding: 10px;
    font-size: 21px;
    font-weight: bold;
    color: #F50057;
}

