
.chatScreen__message {
  display: flex;
  padding: 20px;
  align-items: center;
}

.chatScreen__timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen__form {
  display:flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

.chatScreen__input {
  flex:1;
  padding: 10px;
  border: none;
}

.chatScreen__send {
  margin-right:20px;
  border: none;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}

.chatScreen__send:hover {
  color: #6A3DFE;
}

.chatScreen__report {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}